body {
	background: white url("images/green-gradient.jpg");
	background-repeat: repeat-x;
	background-color: #FFFFF0;
	margin: 50px;
}

h1 {
	text-align: center;
}

#para-stats {
	font-size: 29px;
}

#para-would {
	font-size: 22px;
}

#para-question {
	font-size: 18px;
}

li {
	font-size: 16px;
	padding-left: 1em;
}

#para-link {
	font-size:22px;
}