{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'questionnaires/detail_style.css' %}" />

<h1> <u> {{ questionnaire.name }} - {{ questionnaire.description }} </u> </h1>

<p id="para1"> Number of pages: {{ questionnaire.page_set.count }} </p>

<p id="para1"> Number of questions: {{ nr_questions }} </p>

{% for page in questionnaire.page_set.all %}
	<p id="para2">
	{% if page.question_set.count == 1 %}
		Page {{ forloop.counter }} has one question
	{% else %}
		Page {{ forloop.counter }} has {{ page.question_set.count }} questions
	{% endif %}
	<br /> </p>
{% endfor %}
<br />

<form style="text-align: center;">
<input type="button" value="Start Test" onclick="window.location.href=
	'{% url 'questionnaires:qpage' questionnaire.id first_page.id %}'"
	style="font-size:18px;">
</form>