{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'questionnaires/index_style.css' %}" />

<h1> <u> Questionnaires </u> </h1>

{% if questionnaire_list %}
    <ul>
    {% for questionnaire in questionnaire_list %}
        <li>
        <a href="{% url 'questionnaires:detail' questionnaire.id %}">
        	{{ questionnaire.name }} - {{ questionnaire.description }} - {{ questionnaire.get_nr_of_questions }} questions</a>
        </li>
    {% endfor %}
    </ul>
    {% if user_is_cheating == 1 %}
    	</br>
    	<p id="surprise"> Nice try </br>
    		<object style="height: 360px; width: 640px"><param name="movie" value="http://www.youtube.com/v/O-JotsMmsPE?version=3"><param name="allowFullScreen" value="true"><param name="allowScriptAccess" value="always"><embed src="http://www.youtube.com/v/O-JotsMmsPE?version=3" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="640" height="390"></object>
    	</p>
    {% endif %}

	{% if user_is_cheating == 2 %}
    	</br>
    	<p id="surprise"> Nice  try </br>
    		<object style="height: 360px; width: 640px"><param name="movie" value="http://www.youtube.com/v/1gehTA2DTcE?version=3"><param name="allowFullScreen" value="true"><param name="allowScriptAccess" value="always"><embed src="http://www.youtube.com/v/1gehTA2DTcE?version=3" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="640" height="390"></object>
    	</p>
    {% endif %}

{% else %}
    <p>No questionnaires are available.</p>
{% endif %}